<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <!-- FontAwesome icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="type/javascript" href="views\main.js"> -->
    <title>Rickoshea</title>
</head>

<body class="indigo lighten-4" onload="initiate()">

    <!-- <div class="row"> -->
        <!-- Title & Logo -->
        <div class="row">
          <div class = "col">
            <img src="/rick-sanchez.png" >
          </div>
          <div class = "col">
            <h3 style="margin-left: 10%">Rickoshea</h3>
            <p style="margin-left: 10%">Scaling and simplifying Dollar-cost Averaging (DCA)</p>
          </div>
          <div class= "col">
            <strong><span id="wallet-address">(log into your browser wallet)</span></strong>
          </div>
        </div>

        <div class="col" style="margin: 5%">
            <div class="card grey darken-1">
              <div class="card-content white-text">
                <table style="width:100%">
                  <tr>
                    <th></th>
                    <th>App Address</th>
                    <th>Inbound Rate</th>
                    <th>Total Inflow</th>
                    <th>Total Outflow</th>
                    <th> </th>
                    <th> </th>
                  </tr>
                  <tr>
                    <td>ETHx</td>
                    <!-- Address of Super App -->                  
                    <td>0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947<br/></td>
                    <!-- Rate at which you will be recieving the DCA asset -->              
                    <td><div id='inbound-rate'>0</div> ETHx/hr</td>
                    <!-- Balance of USDCx in wallet -->
                    <td><div id='balance-0x8aE68021f6170E5a766bE613cEA0d75236ECCa9a'>0</div> USDCx</td>
                    <!-- Balance of DCA asset in wallet -->
                    <td><span id="balance-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947">0</span> ETHx</td>
                    <!-- Stream Initiation -->
                    <!-- <td><button onclick="approve()" id="approve-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947" placeholder="Please approve first">Approve</button> </td> -->
                    <td><button onclick="test()" id="approve-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947" placeholder="Please approve first">Approve</button> </td>
                    <td><input type="text" id="input-amt-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947" disabled> USDCx/month</td>
                    <td><button onclick="startStream()" id="start-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947" disabled>Stream</button> </td>
                </table>
              </div>
            </div>
          </div>

    <!-- JQuery 3.4.1 slim minified -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
    <!-- Web3.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/web3@1.2.5-rc.0/dist/web3.min.js" integrity="sha256-ZjUHyLZZWkQPbWfRjTSmGtfcTSOermVT6f/CvJW2RY4=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="main.js"></script>

</body>

</html>