<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <!-- FontAwesome icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Rickoshea</title>
</head>

<body class="indigo lighten-4">

    <!-- <div class="row"> -->
        <!-- Title & Logo -->
        <div class="row">
          <div class = "col">
            <img src="/rick-sanchez.png" >
          </div>
          <div class = "col">
            <h3 style="margin-left: 5%">Rickoshea</h3>
            <p style="margin-left: 5%">Scaling and simplifying Dollar-cost Averaging (DCA)</p>
          </div>
        </div>

        <div class="col" style="margin: 5%">
            <div class="card grey darken-1">
              <div class="card-content white-text">
                <table style="width:100%">
                  <tr>
                    <th></th>
                    <th>App Address</th>
                    <th>Inbound Rate</th>
                    <th>Total Inflow</th>
                    <th>Total Outflow</th>
                    <th> </th>
                    <th> </th>
                  </tr>
                  <tr>
                    <td>ETHx</td>
                    <td>0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947<br/></td>
                    <td><div id='inbound-rate'>0</div> ETHx/hr</td>
                    <!-- <td><div id="output">0</div> USDCx</td> -->
                    <td><div id='stream-num'>0</div> USDCx</td>
                    <td><span id="ETHxBalance">0</span> ETHx</td>
                    <!-- <td><button onclick="approve()" id="approve-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947">Approve</button> </td>
                    <td><input type="text" id="input-amt-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947"  disabled> USDCx/month</td>
                    <td><button onclick="startStream();startAnimation()" id="start-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947" disabled>Stream</button> </td> -->
                    <td><button id="approve-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947">Approve</button> </td>
                    <td><input type="text" id="input-amt-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947"> USDCx/month</td>
                    <td><button id="start-0x5943F705aBb6834Cad767e6E4bB258Bc48D9C947">Stream</button> </td>
                  </tr>
                  <tr>
                    <td>aAAVEx</td>
                    <td>0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590<br/></td>
                    <td>0 aAAVEx/hr</td>
                    <td>0 USDCx</td>
                    <td>0 aAAVEx</td>
                    <!-- <td><button onclick="approve()" id="approve-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590">Approve</button> </td>
                    <td><input type="text" id="input-amt-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590"  disabled> USDCx/month</td>
                    <td><button onclick="startStream()" id="start-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590" disabled>Stream</button> </td> -->
                    <td><button id="approve-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590">Approve</button> </td>
                    <td><input type="text" id="input-amt-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590"> USDCx/month</td>
                    <td><button id="start-0x5a669e6A17B056Ca87e54c3Ca889114dB5A02590">Stream</button> </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>

    <!-- JQuery 3.4.1 slim minified -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
    <!-- Web3.js -->
    <script src="https://cdn.jsdelivr.net/npm/web3@1.2.5-rc.0/dist/web3.min.js" integrity="sha256-ZjUHyLZZWkQPbWfRjTSmGtfcTSOermVT6f/CvJW2RY4=" crossorigin="anonymous"></script>

    <!-- <script src="{{ url_for('static', filename='dapp.js') }}"></script> -->

</body>

</html>